.marker{
    position: absolute;
    width: 45px;
    height: 58px;
    top: calc(50% - 29px);
    left: calc(50% - 22.5px);
    @media (max-width:'500px') {
        // width: 19px;
        // height: 24px;
        // top: calc(50% - 9.5px);
        // left: calc(50% - 12px);
    }
}