.modal-apps-az{
    width: 296px;
    padding: 24px 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0px #00000040;
}

.modal-apps-az-container{
    margin-top: 0 !important;
}

.modal-apps-az-image{
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.modal-apps-az-btn-container{
    margin-top: 20px !important;
}

.modal-apps-az-mobile{
    display: block;
}
.modal-apps-az-header{
    display: none;
    
}

.modal-apps-az-btn-full{
    color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    font-size: 12px;
    font-weight: 600;
    line-height: 13.2px;
    border-radius: 20px;
}

.modal-apps-az-btn-outline{
    background-color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    font-size: 12px;
    font-weight: 600;
    line-height: 13.2px;
    border-radius: 20px;
}

.modal-apps-az-contentGap{
    gap: 16px;
}

@media screen and (min-width: 768px){
    .modal-apps-az-contentGap{
        gap: 24px;
    }
    
    .modal-apps-az-btn-outline{
        background-color: #FFFFFF;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.8px;
        border-radius: 24px;
    }

    .modal-apps-az-btn-full{
        color: #FFFFFF;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.8px;
        border-radius: 24px;
    }

    .modal-apps-az-mobile{
        display: none;
    }

    .modal-apps-az-header{
        display: flex;
        background-position: center;
        background-size: cover;
        height: 70px;
        width: 100%;
    }

    .modal-apps-az-header-big{
        background-image: url('./assets//header-big.svg');
    }

    .modal-apps-az-header-small{
        background-image: url('./assets//header-small.svg');
    }

    .modal-apps-az{
        padding: 36px 24px;
        background-color: #FFFFFF;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 2px 20px 0px #00000040;
    }

    .modal-apps-az-big{
        width: 450px;
    }

    .modal-apps-az-small{
        width: 380px;
    }
}