.main {
    display: flex;
    align-items: center;
    gap: 5px;
}

.list {
    color: var(--neutrall-600);
    font-size: 12px;
    font-weight: 500;
    max-width: 86px;
    text-transform: capitalize;
    // cursor: pointer;
}
.breadcrumb{
    div{
        color:var(--neutral-600) !important;
    }
    div:last-child{
        color:var(--primary-700) !important;
    }
    
}
.Icon {
    path {
        stroke-width: 2px;
    }
}