.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.inputSearch{
    width: 391px;
    div{
        background-color: white;
        height: 32px;
    }
}
.iconnSearch{
    path{
        // stroke: var(--primary-300);
        fill: var(--primary-500);
    }
}
.iconBackRed{
    path{
        stroke:#c22716
    }
}
.iconBackWhite{
    path{
        stroke:var(--neutral-50)
    }
}
.inputMobile{
    width: 150px;
    div{
        height: 32px;
        background-color: var(--neutral-50);
        border: none;
    }
    input{
        width: 100%;
    }
}
.iconWhiteGarasi{
    path{
        // stroke-width: 2px;
        fill:var(--neutral-50);
    }
}
.iconCartMobile{
    path{
        fill: none;
        stroke: var(--neutral-50);
    }
}