.container_checkbox {
  position: relative;
  font-size: 12px;
  color: var(--neutral-900);
  font-weight: demi;

  input {
    width: 0px;
    height: 0px;
    position: absolute;
    cursor: pointer;
  }

  .checkbox_primary {
    width: 16px;
    height: 16px;
    border: 1px solid var(--neutral-600);
    border-radius: 4px;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .checkbox_primary::after {
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
}

.container_checkbox:hover input ~ .checkbox_primary {
  border: 1px solid var(--primary-700);
}

.container_checkbox input:checked ~ .checkbox_primary {
  background-color: var(--primary-700);
  border: 1px solid var(--primary-700);
}

// When checkbox disabled & checked
.container_checkbox input:checked:disabled ~ .checkbox_primary {
  background-color: var(--neutral-400) !important;
  border: 1px solid var(--neutral-500) !important;
  cursor: no-drop;
}

// When checkbox only disabled
.container_checkbox input:disabled ~ .checkbox_primary {
  border: 1px solid var(--neutral-500) !important;
  cursor: no-drop;
}

.container_checkbox input:disabled ~ .checkbox_primary::after {
  left: 6px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid var(--neutral-500);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.checkbox_primary::after {
  display: none;
  content: "";
  position: absolute;
}

.container_checkbox input:checked ~ .checkbox_primary::after {
  display: block;
}
