.sectionHideScroll {
  scrollbar-width: none;
}
.listProducts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.numberCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 9px;
  border-radius: 50%;
  font-weight: bold;
  &.active {
    background-color: var(--primary-700);
    color: white;
  }
  &.inactive {
    background-color: var(--neutral-700);
    color: white;
  }
}
