.main {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid var(--neutral-400);
  width: 160px;
  height: 375px;

  @media (min-width: 500px) {
    width: 170px;
    height: 388px;
  }
}

.sectionTop {
  position: relative;
  width: 160px;
  height: 160px;
  @media (min-width: 500px) {
    width: 170px;
    height: 170px;
  }
}

.sectionBottom {
  display: flex;
  flex-direction: column;
  height: 215px;
  @media (min-width: 500px) {
    height: 208px;
  }
}

.favorite {
  path {
    fill: var(--error-400);
    stroke: var(--error-400);
  }
}

.discount {
  color: var(--error-400);
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 4px;
  @media (min-width: 500px) {
    background: var(--error-400);
    color: var(--neutral-50);
    font-size: 8px;
    padding: 4px;
    border-radius: 4px;
    line-height: 1;
  }
}
